header(class="bg-navajo-white p-4")
    div(class="container flex mx-auto justify-between items-center")
        h1(class="text-caput-mortuum text-2xl font-extrabold text-center") 
            span(class="text-black") Photo 
            span(class="font-normal text-orange") Market
        nav(class="flex gap-3 my-5 text-sm md:flex md:items-center font-bold text-raw-umber")
            a(href="#" class="nav-link bg-xanthous py-2 px-6 rounded-full hover:bg-russet transform transition-all duration-300 hover:scale-105 active:scale-95 hover:shadow-md active:shadow-sm") Photos
            a(href="#" class="nav-link bg-xanthous py-2 px-6 rounded-full hover:bg-russet transform transition-all duration-300 hover:scale-105 active:scale-95 hover:shadow-md active:shadow-sm") Profile
            a(href="#" class="nav-link bg-xanthous py-2 px-6 rounded-full hover:bg-russet transform transition-all duration-300 hover:scale-105 active:scale-95 hover:shadow-md active:shadow-sm") Logout
