header(class="bg-white p-4 shadow-xl w-full")
    div(class="container mx-auto flex justify-between items-center flex-col md:flex-row")
        h1(class="text-black text-3xl font-extrabold text-center mb-4 md:mb-0") Photo
            span(class="font-medium text-orange") Market
        nav(class="flex gap-3 my-5 text-sm md:flex md:items-center font-bold text-raw-umber")
            a(href="#" class="nav-link bg-xanthous py-2 px-6 rounded-full hover:bg-russet transform transition-all duration-300 hover:scale-105 active:scale-95 hover:shadow-md active:shadow-sm") Photos
            a(href="#" class="nav-link bg-xanthous py-2 px-6 rounded-full hover:bg-russet transform transition-all duration-300 hover:scale-105 active:scale-95 hover:shadow-md active:shadow-sm") Profile
            a(href="#" class="nav-link bg-xanthous py-2 px-6 rounded-full hover:bg-russet transform transition-all duration-300 hover:scale-105 active:scale-95 hover:shadow-md active:shadow-sm") Logout
