extends ../layout/index
block content 

main
  section
    img#bg(src='../../public/img/Amanecer.jpg')
    h1#text KeyFrame Films
    img#logo.logo_class(src='./img/Logo/LOGO-2021-BYW_Mesa de trabajo 1 copia.png')
  .sec
    .hamburger
      .line
      .line
      .line
    menu.navbar
      ul#menu
        li
          a(href='#Inicio')
            b Inicio
        li
          a(href='#Portafolio')
            b Portafolio
        //
          <li>
          <a href="./Servicios/servicios.php"><b>Servicios</b></a>
          </li>
        li
          a(href='Paquetes/Paquetes.php')
            b Paquetes
        li
          a(href='#Contacto')
            b Contacto
    #Inicio.content
      h2
        | En nombre de todo nuestro equipo, 
        br
        |           me gustar&iacute;a darle la bienvenida a nuestro sitio web.
      p
        | Nuestra productora se ha comprometido a ofrecer contenido
        | cautivador, emocionante y de alta calidad desde sus inicios. 
        br
        |           Aqu&iacute; encontrar&aacute;s un espacio dedicado a la creatividad, la innovaci&oacute;n
        |           y la ilusi&oacute;n por la producci&oacute;n cinematogr&aacute;fica y audiovisual.
        br(\='')
        br(\='')
        |           &iexcl;Esperamos que disfrutes de tu visita y que te emociones tanto como
        |           nosotros con nuestro apasionante universo cinematogr&aacute;fico!
    #Portafolio
      h2 Portafolio
      ul.galeria
        li.galeria__item
          img.galeria__img(src='../img/Boda/J5.JPG')
        li.galeria__item
          img.galeria__img(src='../img/Retrato/Fatima12-4.jpg')
        li.galeria__item
          img.galeria__img(src='../img/Retrato/20.jpg')
        li.galeria__item
          img.galeria__img(src='../img/Retrato/13.jpg')
        li.galeria__item
          img.galeria__img(src='../img/Fotos Dron/Cielo Dron_.JPG')
        li.galeria__item
          img.galeria__img(src='../img/Gastronomia/Don_Mundo_Hamburguesas.JPG')
        li.galeria__item
          img.galeria__img(src='../img/Gastronomia/Don_Mundo_Entrada.JPG')
        li.galeria__item
          img.galeria__img(src='../img/Gastronomia/Don_Mundo_Tacos2.jpg')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
#lastray.element
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/gsap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/ScrollTrigger.min.js')
script(src='./script.js')
