extends ../layout/index

block content
  div.py-10
    h1.text-center.text-4xl.font-extrabold.my-3.text-majorelle-blue Key
      span.font-bold.text-rsisin-black Frame
    if errors
      div(class="max-w-md mx-auto my-10")
        each error, index in errors
          div(id="alert-" + index, class=`alert fade-in bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md transition-opacity-${index}` role="alert")
            div(class="flex")
              div(class="py-1")
                svg(class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
                  path(d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z")
              div
                p(class="font-bold")= error.msg
  .mt-8.mx-auto.max-w-md
    .bg-platinum.py-8.px-4.shadow-xl.rounded-3xl
      h2.text-center.text-3xl.font-extrabold.mb-9= page
      form(action="/auth/password-change" method="post" noValidate).flex.items-center.flex-col.justify-center.gap-5
        div.w-full
          label.block.text-sm.text-russet.mb-2.font-bold(for="email") Email Register
          input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-ochre.mb-2(placeholder="user@realstate.com" class="ease-in-out focus:outline-none focus:border-2 focus:border-majorelle-blue" type="email" name="email" value=user ? user.email : '')

        div.flex.items-center.justify-between.w-full
          a.text-xs.font-medium(href="/auth/register" class="hover:underline decoration-2 hover:decoration-majorelle-blue hover:scale-[1.03]") Don't have an account? 
            span.text-majorelle-blue Register
          a.text-xs.font-medium(href="/auth/login" class="hover:underline decoration-2 hover:decoration-majorelle-blue hover:scale-[1.03]") Have an account? 
            span.text-majorelle-blue Log In

        button(class="w-[50%] bg-rsisin-black text-white font-bold p-2 cursor-pointer rounded-xl ease-in-out transition-all hover:scale-[1.05] hover:bg-english-violet/90 hover:bg-majorelle-blue active:scale-[0.95]" type="submit" value="Send") Send
