extends ../layout/index

block content 
  div.py-10 
    h1.text-center.text-4xl.font-extrabold.my-10.text-black Key
      span.font-normal.text-rsisin-black frame

    if errors 
      div(class="max-w-md mx-auto my-10")
        each error, index in errors 
          div(id="alert-" + index, class="alert bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md transition-opacity" role="alert")
            div(class="flex")
              div(class="py-1")
                svg(class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
                  path(d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z")
              div
                p(class="font-bold")= error.msg

    h2.text-center.text-3xl.font-extrabold.text-orangeColor= page

    .mt-8.mx-auto.max-w-md 
      .bg-platinum.py-8.px-4.shadow-md.rounded-md
        form(noValidate action="/auth/home" method="POST")
          div 
            label.block.text-sm.text-taupeColor.uppercase.mb-2.font-bold(for="email") Email Register
            input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-orangeColor.mb-2(placeholder="user@user.com" type="email" name="email")
          div 
            label.block.text-sm.text-taupeColor.uppercase.mb-2.font-bold(for="password") Password 
            input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-orangeColor.mb-2(placeholder="Password" type="password" name="password")
                
          div.flex.items-center.justify-between.w-full
            a.text-xs.font-medium(href="/auth/register" class="hover:underline decoration-2 decoration-majorelle-blue") Don't have an account? 
              span.text-majorelle-blue Register
            a.text-xs.font-medium(href="/auth/forgot-password" class="hover:underline decoration-2 decoration-majorelle-blue") Forgot your password? 
              span.text-majorelle-blue Recover it
          input(class="w-full bg-xanthous hover:bg-rosa text-black hover:text-xanthous font-bold py-3 cursor-pointer rounded-xl mt-4" type="submit" value="Login in")